.main {
  background: #FFF;
  padding: 30px;
  margin: 100px auto;
  max-width: 280px;
  border-radius: 14px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.main h1 {
  font-size: 1.5rem;
  text-align: center;
}
